{% extends "base.html" %}
{% load i18n %}
{% block title %}- {% trans "listing" %}{% endblock title %}
{% block all %}
    <h1>{% trans "VisualizationJobs" %}</h1>
    <table class="table">
    <thead>
    <tr>
        <th>{% trans "Job ID" %}</th>
        <th></th>
        <th>{% trans "Status" %}</th>
        <th>{% trans "Creation Date" %}</th>
        <th>{% trans "Proteomes" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for job in jobs %}
        <tr>
            <td>{{ job.pk }}</td>
            <td><a class="btn btn-primary btn-sm" href="{% url "visualization" pk=job.pk %}">{% trans "View Details" %}</a></td>
            <td>{{ job.get_status_display }}</td>
            <td>{{ job.created_at }}</td>
            <td>{{ job }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock all %}