{% extends "ppprint/plots.html" %}
{% load i18n %}
{% block title %}- {% trans "comparison" %} {{ job.pk }}{% endblock title %}
{% block pagetitle %}
    <br>
    <h1>{% trans "Visualization for Secondary Structure" %}</h1>
    <br>
{% endblock pagetitle %}
{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="card border-primary mb-3">
                <div class="card">
                    <div class="card-header">
                        Secondary Structure and RePROF Predictor
                    </div>
                    <div class="card-body">
                        <p style="text-align:justify">
                            A protein can fold into its native shape even when it is isolated from the cell, implying
                            that
                            the amino acid sequence alone determines the structure of a protein. On a lower complexity
                            level than estimating the 3D shape of a protein, this discovery allows the prediction of
                            secondary structure elements, using only the sequence. The structural elements as specified
                            in
                            the 8-state DSSP assignment can be simplified into three groups: helix (H), strand (E) and
                            other
                            states (O).
                            <br> In ppprint, RePROF [1] is used to predict whether an amino acid residue belongs to a
                            H, E or O part of the protein. As a locally forming structural element, helices require a
                            minimum
                            of four consecutive compatible residues to be formed. Thus, four amino acid residues serves
                            as a
                            minimum length for helical regions predicted by RePROF.
                            <br><br>[1] Rost, B. & Sander, C. Prediction of Protein Secondary Structure at Better than
                            70%
                            Accuracy.
                            Journal of Molecular Biology 232, 584–599. doi:https://doi.org/10.1006/jmbi.1993.1413
                            (1993).
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    {% with strongtext="Proteome-wide distribution of per-protein alpha-helix and beta-strand content, ranging from 0.0 to 1.0." othertext="The feature content per protein is defined as the number of residues located in feature-regions divided by the protein length. Here, instead of viewing helix and strand predictions as independent entities, their relationship is visualized by plotting both values in a two-dimensional space." %}
                        {% include "snippets/plot_card.html" with plot=mapping.reprof_p_content_relate.0 plotname=mapping.reprof_p_content_relate.1 plotid=mapping.reprof_p_content_relate.2 strongtext=strongtext othertext=othertext %}
                    {% endwith %}
                </div>
                <div class="col-md-6">
                    {% with strongtext="Mean structural fractions." othertext="The numbers of residues in a protein classified as belonging to one of the three structural forms (helix, strand, other) can respectively be defined relative to protein length, resulting in structural fractions. This plot displays the mean fractions across all proteins of a proteome." %}
                        {% include "snippets/plot_card.html" with plot=mapping.reprof_p_res_fractions_bars.0 plotname=mapping.reprof_p_res_fractions_bars.1 plotid=mapping.reprof_p_res_fractions_bars.2 strongtext=strongtext othertext=othertext %}
                    {% endwith %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {% with strongtext="Within-protein location of feature regions, measured as frequency of feature at each relative index position." othertext="Relative region lengths build on the concept of indices relative to protein lengths, enabling a comparison across proteins of different lengths." %}
                        {% include "snippets/plot_card.html" with plot=mapping.reprof_r_points.0 plotname=mapping.reprof_r_points.1 plotid=mapping.reprof_r_points.2 strongtext=strongtext othertext=othertext %}
                    {% endwith %}
                </div>
                <div class="col-md-6">
                    {% with strongtext="Matrix depicting the relative number of proteins containing at least one beta-strand and/or/nor helix region, for each proteome." othertext="" %}
                        {% include "snippets/plot_card.html" with plot=mapping.reprof_p_elements.0 plotname=mapping.reprof_p_elements.1 plotid=mapping.reprof_p_elements.2 strongtext=strongtext othertext=othertext %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}