{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ppprint</title>
</head>
<body>
    <div class="nav">
        <a href="{% url "create_import_job" %}">{% trans "Create import job" %}</a>
        <a href="{% url "compare_proteomes" %}">{% trans "Select proteomes for comparison" %}</a>
        <a href="{% url "list_visualization_jobs" %}">{% trans "List visualization jobs" %}</a>
    </div>
    {% block content %}
    {% endblock content %}
</body>
</html>